:root{
    font-family: 'Roboto', sans-serif;
}


/*MACRO STILI*/
#wrapper{
    height: calc(100vh - 100px);
    display: flex;
    
    /*DEBUG*/
    background-color: blue;
}

#mainContent{
    flex-grow: 1;
    max-height: 100vh;
    overflow-y: auto;
    background-color: #f8f9fa;
    
}

#sideBar{
    text-align: center;
    width: 80px;
    height: 100%;
    background-image: url("../img/sidebar-bg.png");
    background-color: #051e34;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 .5rem;
}

.top-margin{
    margin-top: 1rem;
}

.bot-margin{
    margin-bottom: 1rem;
}
.inline-block{
    display: inline-block;
}


/*HEADER STILI*/
header{
    background-color:#f8f9fa;
    min-height: 100px;
    display: flex;
    align-items: center;
}
#logoSmall{
    width: 4rem;
}
#logoLarge{
    max-width: 100%;
    display: none;
}
.nav-100{
  width: 100%;
  position: relative;  
}
.navbar{
    padding: 0;
}
.navbar-grey{
    border: 0px;
    border-radius: 5px;
    background-color: #e5e5e5;
    padding-left: 1.5rem;
    
}
.nav-100 i{
    position: absolute;
    top: 12px;
    left: 5px;
}
.white-bg{
    background-color: #ffff;
}
.row .fa-bell{
    font-size: 1rem;
    color: #ff8f00;
    margin-left: .3rem;
}
.container-i{
    display: none;
}
.container-i li, a{
    display: inline-block;
    list-style-type: none;
    color: #5a5757;
    text-decoration: none;
    margin: 0 .3rem;
}
.container-i ul{
    margin: 0;
    padding: 0;
}


/*STILI SIDEBAR*/


#sideBar a{
    color: #ffff;
    font-size: 1.2rem;
    display: block;
    padding: .6rem 0;
}

#sideBar a:hover{
    background-color: #a0a0a0;
    transition-duration: .3s;
}

.show-span{
    display: none;
    color: #ffff;
    margin-left: .5rem;
}

/*STILI MAIN CONTENT*/

/*stili container blu*/

.blue-container{
    background-color: #1b72e8;
    color: #ffff;
}
.student-btn{
    border-color: #ffff;
    color: #ffff ;
    margin-left: 1rem;
}
.offcanvas-end{
    width: 100%;
}
.breadcrumb-style{
    color: #ffff;
    background-color: #165bba;
    border: 0;
    border-radius: 20px;
    padding: 0rem .3rem .2rem .3rem;
    display: inline;
}
.breadcrumbContainer{
    display: none;
}
nav{
    display: inline;
}
.breadcrumb a{
    color: #ffff;
}
.show-btn{
    display: none;
}


/*Stili elementi centrali*/

.btn-table{
    color: gray;
    border: 1px solid gray;
}
.table{
    background-color: #ffff;
}
.table-col{
    border: 1px solid #dedede;
    border-radius: 10px;
}
.title-head{
    background-color: #f8f9fa;
    border-bottom: 1px solid #dedede;
    padding: 0rem .3rem 1.3rem .3rem;
}
.table-col .fa-code{
    color: #ffff;
    background-color: #f26551;
    border-radius: 50%;
    padding: .3rem .2rem;
    margin-right: .5rem;
}
.show-table{
    display: none;
}
.show-form{
    display: none;
}
.card-body a{
    color: #1b72e8;
}

















/***************** 
 PARTE RESPONSIVE
*****************/
@media all and (min-width:992px){
    #logoSmall{
        display: none;
    }
    #logoLarge{
        display: block;
    }
    .container-i{
        display: inline-block;
    }
    #sideBar{
        width: 30rem;
    }
    #sideBar span{
        display: inline-block;   
    }
    .breadcrumbContainer{
        display: inline-block;
    }
    .breadcrumb-plus{
        display: none;
    }
    .offcanvas-end{
        width: 40rem;
    }
    .show-table{
        display: table-cell;
    }
    .show-btn{
        display: inline-block;
    }
    .show-form{
        display: block;
    }
    .negative-margin{
        margin-top: -21rem;
    }
}