:root{
    font-family: 'Roboto', sans-serif;
}


/*MACRO STILI*/
#wrapper{
    height: calc(100vh - 100px);
    display: flex;
    
    /*DEBUG*/
    background-color: blue;
}

#mainContent{
    flex-grow: 1;
    max-height: 100vh;
    overflow-y: auto;
    background-color: #f8f9fa;
    
}

#sideBar{
    width: 80px;
    height: 100%;
    background-image: url("../img/sidebar-bg.png");
    background-color: #051e34;
    display: flex;
    flex-direction: column;
}

.top-margin{
    margin-top: 1rem;
}

.bot-margin{
    margin-bottom: 1rem;
}
.inline-block{
    display: inline-block;
}


/*HEADER STILI*/
header{
    background-color:#f8f9fa;
    min-height: 100px;
    display: flex;
    align-items: center;
}
#logoSmall{
    width: 4rem;
}
#logoLarge{
    max-width: 100%;
    display: none;
}
.nav-100{
  width: 100%;
  position: relative;  
}
.navbar{
    padding: 0;
}
.navbar-grey{
    border: 0px;
    border-radius: 5px;
    background-color: #e5e5e5;
    padding-left: 1.5rem;
    
}
.nav-100 i{
    position: absolute;
    top: 12px;
    left: 5px;
}
.white-bg{
    background-color: #ffff;
}
.row .fa-bell{
    font-size: 1rem;
    color: #ff8f00;
    margin-left: .3rem;
}
.container-i{
    display: none;
}
.container-i li, a{
    display: inline-block;
    list-style-type: none;
    color: #5a5757;
    text-decoration: none;
    margin: 0 .3rem;
}
.container-i ul{
    margin: 0;
    padding: 0;
}






















/***************** 
 PARTE RESPONSIVE
*****************/
@media all and (min-width:992px){
    #logoSmall{
        display: none;
    }
    #logoLarge{
        display: block;
    }
    .container-i{
        display: inline-block;
    }
}